<tr><td><b>

<% if show_votes?(@issue) %>
  <%= l :label_votes %>:</b></td><td>

  <div id='voting_controls'>
    <%= render :partial => "issues/voting_controls", :locals => { :issue => @issue, :success => nil } %>
  </div>
 <% end %>

</td></tr>