<% unless @issue.nil? %>
  <% if allowed_to_vote?(@issue, :up) or allowed_to_vote?(@issue, :down) %>
    <li class="folder">
      <a href="#" class="submenu"><%= l(:label_votes) %></a>
      <ul>
        <% if allowed_to_vote?(@issue, :up) %>
          <li><%= context_menu_link l(:button_vote_up), {:controller => 'vote', :action => 'up',   :id => @issue }, :class => 'icon icon-vote-up', :method => 'post' %>
        <% end %>
        <% if allowed_to_vote?(@issue, :down) %>
          <li><%= context_menu_link l(:button_vote_down), {:controller => 'vote', :action => 'down', :id => @issue  }, :class => 'icon icon-vote-down', :method => 'post' %>
        <% end %>
      </ul>
    </li>
  <% end %>
<% end %>